{{#unless complete}}
  <div class="modal-body" style="color:#777;">
    <div class="col-xs-12 form-group" style="line-height:2;">
      {{input class="col-xs-6" type="text" autocorrect="off" autocapitalize="off" autofocus="autofocus" value=accountName placeholder=(t "createAccount.username")}}
      {{register-validation value=nameValidation}}
    </div>
    <div class="col-xs-12 form-group" style="line-height:2;">
      {{input class="col-xs-6" type="email" autocorrect="off" autocapitalize="off" value=accountEmail placeholder=(t "createAccount.email")}}
      {{register-validation value=emailValidation}}
    </div>
    <div class="col-xs-12 form-group" style="line-height:2;">
      {{input class="col-xs-6" type="password" autocorrect="off" autocapitalize="off" value=accountPassword placeholder=(t "createAccount.password")}}
      {{register-validation value=passwordValidation}}
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="button button-blue" disabled={{submitDisabled}} {{action 'createAccount'}}>{{createAccountText}}</button>
    {{#if formSubmitted}}
      &nbsp; <i class='fa fa-spinner fa-spin'></i>
    {{else}}
      &nbsp; <a class="button" {{action 'cancel'}}>{{t 'createAccount.cancel'}}</a>
    {{/if}}
  </div>
{{/unless}}
