{{#unless complete}}
  <div class="modal-body">
    <label for="forgot-email-input" style="color:#8c8c8c;">{{t 'forgot.tip'}}</label>
    {{input id="forgot-email-input" type="text" class="col-xs-8" autocorrect="off" autocapitalize="off" autofocus="autofocus" value=email placeholder=(t "forgot.email")}}
  </div>
  <div class="modal-footer">
    <button type="button" class="button button-blue" {{bind-attr disabled="forgotDisabled"}} {{action 'forgotPassword'}}>{{forgotButtonText}}</button>
    {{#if showSpinner}}
      &nbsp; <i class='fa fa-spinner fa-spin'></i>
    {{else}}
      &nbsp; <a class="button" {{action 'cancel'}}>{{t 'forgot.cancel'}}</a>
    {{/if}}
  </div>
{{/unless}}
