<div class="modal-body">
  <div class="form-group row">
    {{input type="text" class="pure-u-1-2" autocorrect="off" autocapitalize="off" autofocus="autofocus" value=username placeholder=(t 'login.username')}}
  </div>
  <div class="form-group row">
    {{input type="password" class="pure-u-1-2" value=password placeholder=(t 'login.password')}}
  </div>
  <a {{action 'forgotPassword'}} class="pure-u-1-2 link-button forgot-password">{{t 'login.forgotPassword'}}</a>
</div>
<div class="modal-footer">
  <button type="button" class="button button-blue" {{bind-attr disabled="loginDisabled"}} {{action 'login'}}>{{loginButtonText}}</button>
  {{#if authenticate}}
    &nbsp; {{t 'login.authenticating'}}
  {{/if}}
  {{#if showSpinner}}
    &nbsp; <i class='fa fa-spinner fa-spin'></i>
  {{/if}}
  &nbsp;{{t 'createAccount.tip'}}
  <a {{action 'createAccount'}} class="link-button">{{t 'createAccount.now'}}</a>
</div>