<div class="modal-body">
  <div class="col-xs-12 form-group">
    {{input type="text" class="col-xs-6" autocorrect="off" autocapitalize="off" autofocus="autofocus" value=username placeholder=(t 'login.username')}}
  </div>
  <div class="col-xs-12 form-group">
    {{input type="password" class="col-xs-6" value=password placeholder=(t 'login.password')}}
  </div>
  <a {{action 'forgotPassword'}} class="col-xs-6 link-button forgot-password">{{t 'login.forgotPassword'}}</a>
</div>
<div class="modal-footer">
  <button type="button" class="button button-blue" disabled={{loginDisabled}} {{action 'login'}}>{{loginButtonText}}</button>
  {{#if authenticate}}
    &nbsp; {{t 'login.authenticating'}}
  {{/if}}
  {{#if showSpinner}}
    &nbsp; <i class='fa fa-spinner fa-spin'></i>
  {{/if}}
  &nbsp;{{t 'createAccount.tip'}}
  <a {{action 'createAccount'}} class="link-button">{{t 'createAccount.now'}}</a>
</div>
