<div class="modal-body">
  <div class="pure-form">
    {{!--<fieldset class="pure-group">
      <button type="button" class="pure-button" {{action 'externalLogin' 'google'}}><i class="fa fa-google-plus-square" style="font-size:18px;"></i>&nbsp;{{t "login.with.google"}}</button>
      <button type="button" class="pure-button" {{action 'externalLogin' 'github'}}><i class="fa fa-github-alt" style="font-size:18px;"></i>&nbsp;{{t "login.with.github"}}</button>
    </fieldset>--}}
    <fieldset class="pure-group">
      {{input type="text" class="pure-input-1-2" autocorrect="off" autocapitalize="off" autofocus="autofocus" value=username placeholderTranslation="login.username"}}
      {{input type="password" class="pure-input-1-2" value=password placeholderTranslation="login.password"}}
    </fieldset>
    <a {{action 'forgotPassword'}} class="pure-input-1-2 forgot-password">{{t 'login.forgot.password'}}</a>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="pure-button pure-button-primary" {{bind-attr disabled="loginDisabled"}} {{action 'login'}}>{{loginButtonText}}</button>
  {{#if authenticate}}
    &nbsp; {{t 'login.authenticating'}}
  {{/if}}
  {{#if showSpinner}}
    &nbsp; <i class='fa fa-spinner fa-spin'></i>
  {{/if}}
  &nbsp;{{t 'create.account.tip'}}
  <a {{action 'createAccount'}}>{{t 'create.account.now'}}</a>
</div>