<div class="pure-g comment-item">
  <div class="pure-u-1-8">
    <div class="pure-g">
      <img class="user-avatar" height="48" width="48" {{bind-attr src=view.content.avatarPhoto}}>
      <div class="pure-u-1 comment-username">{{view.content.creatorName}}</div>
    </div>
  </div>
  <div class="pure-u-7-8">
    {{#if view.isEditing}}
      <div class="pure-form">
        {{markdown-editor localStorageName=view.content.id body=view.buffered minHeight=100 maxHeight=200}}
      </div>
      <div class="comment-operator">
        <div class="ios-button" {{action 'cancel' target=view}}><label class="button-label">{{t 'button.cancel'}}</label></div>
        <div class="ios-button" {{action 'save' target=view}}><label class="button-label">{{t 'button.save'}}</label></div>
      </div>
    {{else}}
      {{markdown-body body=view.content.body class="comment-body"}}
      <div class="pure-g">
        <div class="pure-u-3-4 comment-time">{{view.content.format_created}}</div>
        <div class="pure-u-1-4 comment-operator">
          {{#if view.parentView.controller.currentUser}}
            <div class="ios-button" {{action 'reply' target=view}}><label class="button-label">{{t 'button.reply'}}</label></div>
          {{/if}}
          {{#if view.content.isMe}}
            <div class="ios-button" {{action 'edit' target=view}}><label class="button-label">{{t 'button.edit'}}</label></div>
            <div class="ios-button" {{action 'delete' target=view}}><label class="button-label">{{t 'button.delete'}}</label></div>
          {{/if}}
        </div>
      </div>
    {{/if}}
  </div>
</div>