<div class="pure-g">
  {{#if currentUser}}
    <div class="pure-u-1-8">
      <img class="user-avatar" height="48" width="48" {{bind-attr src=currentUser.avatarPhoto}}>
    </div>
    <div class="pure-u-7-8 pure-form pure-form-stacked">
      <fieldset>
        <div class="pure-g">
          <div class="pure-u-1">
            {{markdown-editor body=view.body height=150}}
          </div>
        </div>
      </fieldset>
      <fieldset>
        <div class="pure-g">
          <div class="pure-u-1" style="text-align:right;">
            <button type="button" class="pure-button pure-button-primary" {{bind-attr disabled=view.createDisabled}} {{action 'createComment' view}}>{{t 'post.comment.create'}}</button>
            {{#if view.showSpinner}}
              &nbsp; <i class='fa fa-spinner fa-spin'></i>
            {{/if}}
          </div>
      </fieldset>
    </div>
  {{else}}
    <div class="pure-u-1-1 pure-form pure-form-stacked">
      <fieldset>
        <div class="pure-g">
          <div class="pure-u-1">
            <label for="creator_email">{{t 'post.comment.email'}}</label>
            {{input elementId="creator_email" type="text" class="pure-input-1-2" placeholderTranslation="placeholder.required" value=view.creator_email}}
          </div>
          <div class="pure-u-1">
            <label for="creator_name">{{t 'post.comment.name'}}</label>
            {{input elementId="creator_name" type="text" class="pure-input-1-2" placeholderTranslation="placeholder.unrequired" value=view.creator_name}}
          </div>
        </div>
      </fieldset>
      <fieldset>
        <div class="pure-g">
          <div class="pure-u-1">
            {{markdown-editor body=view.body height=150}}
          </div>
        </div>
      </fieldset>
      <fieldset>
        <div class="pure-g">
          <div class="pure-u-1" style="text-align: right;">
            <button type="button" class="pure-button pure-button-primary" {{bind-attr disabled=view.createDisabled}} {{action 'createComment' view}}>{{t 'post.comment.create'}}</button>
            {{#if view.showSpinner}}
              &nbsp; <i class='fa fa-spinner fa-spin'></i>
            {{/if}}
          </div>
      </fieldset>
    </div>
  {{/if}}
</div>