<div class="navigatable-title row">
  <div class="pure-u-1-3 horizontal-left">
    {{#if view.hasLeftButton}}
      <div class="link-button small" {{action 'leftButtonAction' controller target=view}}>
        <label class="button-label"><i class="fa fa-angle-left"></i>&nbsp;{{view.leftButtonTitle}}</label>
      </div>
    {{/if}}
  </div>
  <div class="pure-u-1-3 title horizontal-center">{{view.title}}</div>
  <div class="pure-u-1-3 horizontal-right">
    {{#if view.hasRightButton}}
      <div class="link-button small" {{action 'rightButtonAction' controller target=view}}>
        <label class="button-label">{{view.rightButtonTitle}}</label>
      </div>
    {{/if}}
  </div>
</div>
<div class="sections">
  {{#each section in view.sectionsView}}
    <div class="section">
      <div class="section-title">{{section.title}}</div>
      <div class="rows">
        {{#each row in section.rowsView}}
          {{#if row.isSelect}}
            <div class="row select-row" {{action 'onSelect' controller target=row}}>
              <div class="select-title">{{row.title}}</div>
              <div class="select-icon"><i class="fa fa-angle-right"></i></div>
            </div>
          {{/if}}

          {{#if row.isDescription}}
            <div class="row description-row">
              <div class="left">{{row.title}}</div>
              <div class="right">{{row.description}}</div>
            </div>
          {{/if}}

          {{#if row.isDescriptionUpdate}}
            {{#if row.isEditing}}
              <div class="row input-row">
                {{edit-input value=row.bufferedDescription target=row}}
              </div>
            {{else}}
              <div class="row update-row" {{action 'edit' target=row}}>
                <div class="left">{{row.title}}</div>
                <div class="right">{{row.description}}</div>
              </div>
            {{/if}}
          {{/if}}

          {{#if row.isCreateInput}}
            <div class="row input-row">
              {{create-input target=row autocomplete="off" placeholder=row.placeholder}}
            </div>
          {{/if}}

          {{#if row.isTitleUpdate}}
            {{#if row.isEditing}}
              <div class="row input-row">
                {{edit-input value=row.bufferedTitle target=row}}
              </div>
            {{else}}
              {{#if row.canDelete}}
                <div class="row select-row">
                  <div class="select-title pure-u-7-8" {{action 'edit' target=row}}>{{row.title}}</div>
                  <div class="select-icon pure-u-1-8" {{action 'delete' target=row}}><i class="fa fa-times"></i></div>
                </div>
              {{else}}
                <div class="row update-row" {{action 'edit' target=row}}>
                  <div class="left">{{row.title}}</div>
                </div>
              {{/if}}
            {{/if}}
          {{/if}}

          {{#if row.isSwitch}}
            <div class="row switch-row">{{row.title}}
              <label class="switch">
                <input type="checkbox" class="switch-input" checked>
                <span class="switch-label" data-on="On" data-off="Off"></span>
                <span class="switch-handle"></span>
              </label>
            </div>
          {{/if}}

          {{#if row.isInput}}
            <div class="row input-row">
              {{input type="text" placeholder=row.placeholder value=row.value}}
            </div>
          {{/if}}

          {{#if row.isButton}}
            <div {{bind-attr class=":row :button-row section.isDisabled:disabled"}} {{action 'submit' section target=row}}>{{row.title}}</div>
          {{/if}}
        {{/each}}
      </div>
    </div>
  {{/each}}
</div>