<div class="navigatable-title row">
  <div class="col-xs-4 horizontal-left">
    {{#if view.hasLeftButton}}
      {{link-button type="tiny" leftIcon="fa-angle-left" label=view.leftButtonTitle action=view.leftButtonAction target=view}}
    {{/if}}
  </div>
  <div class="col-xs-4 title horizontal-center">{{view.title}}</div>
  <div class="col-xs-4 horizontal-right">
    {{#if view.hasRightButton}}
      {{link-button type="tiny" label=view.rightButtonTitle action=view.rightButtonAction target=view}}
    {{/if}}
  </div>
</div>
<div class="sections">
  {{#each section in view.sectionsView}}
    <div class="section">
      <div class="section-title">{{section.title}}</div>
      <div class="rows">
        {{#each row in section.rowsView}}
          {{#if row.isSelect}}
            <div class="one-row select-row" {{action 'onSelect' controller target=row}}>
              <div class="select-title">{{row.title}}</div>
              <div class="select-icon"><i class="fa fa-angle-right"></i></div>
            </div>
          {{/if}}

          {{#if row.isDescription}}
            <div class="one-row description-row">
              <div class="left">{{row.title}}</div>
              <div class="right">{{row.description}}</div>
            </div>
          {{/if}}

          {{#if row.isDescriptionUpdate}}
            {{#if row.isEditing}}
              <div class="one-row input-row">
                {{edit-input value=row.bufferedDescription target=row}}
              </div>
            {{else}}
              <div class="one-row update-row" {{action 'edit' target=row}}>
                <div class="left">{{row.title}}</div>
                <div class="right">{{row.description}}</div>
              </div>
            {{/if}}
          {{/if}}

          {{#if row.isCreateInput}}
            <div class="one-row input-row">
              {{create-input target=row autocomplete="off" placeholder=row.placeholder}}
            </div>
          {{/if}}

          {{#if row.isTitleUpdate}}
            {{#if row.isEditing}}
              <div class="one-row input-row">
                {{edit-input value=row.bufferedTitle target=row}}
              </div>
            {{else}}
              {{#if row.canDelete}}
                <div class="one-row select-row">
                  <div class="select-title col-xs-7-8" {{action 'edit' target=row}}>{{row.title}}</div>
                  <div class="select-icon col-xs-1-8" {{action 'delete' target=row}}><i class="fa fa-times"></i></div>
                </div>
              {{else}}
                <div class="one-row update-row" {{action 'edit' target=row}}>
                  <div class="left">{{row.title}}</div>
                </div>
              {{/if}}
            {{/if}}
          {{/if}}

          {{#if row.isSwitch}}
            <div class="one-row switch-row">{{row.title}}
              <label class="switch">
                <input type="checkbox" class="switch-input" checked>
                <span class="switch-label" data-on="On" data-off="Off"></span>
                <span class="switch-handle"></span>
              </label>
            </div>
          {{/if}}

          {{#if row.isInput}}
            <div class="one-row input-row">
              {{input type="text" placeholder=row.placeholder value=row.value}}
            </div>
          {{/if}}

          {{#if row.isButton}}
            <div class="one-row button-row {{if section.isDisabled 'disabled'}}" {{action 'submit' target=row.section}}>{{row.title}}</div>
          {{/if}}

          {{#if row.isSingleCheck}}
            <div class="one-row single-check-row" {{action 'onSelect' row.content.value target=row.section}}>
              <div class="title">{{row.content.label}}</div>
              <div class="icon">{{#if row.selected}}<i class="fa fa-check-square-o"></i>{{/if}}</div>
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
  {{/each}}
</div>