<div class="content-subhead">
  <div class="row">
    <div class="pure-u-1">{{headerTitle}}</div>
  </div>
</div>
<div class="content-contents row">
  {{input type="text" class="form-group pure-u-1" placeholder=(t "posts.title") value=model.title}}
  {{#if bufferedTags}}
    {{select-picker customClass="form-group pure-u-1" content=bufferedTags selection=model.tags prompt=(t "blog.tag") isMultiple=true}}
  {{/if}}
  {{#if bufferedCategories}}
    {{select-picker customClass="form-group pure-u-1" content=bufferedCategories selection=model.category prompt=(t "blog.category")}}
  {{/if}}
  <div class="pure-u-1 form-group">
    {{markdown-editor body=model.body}}
  </div>
  <div class="pure-u-1 form-group">
    {{cw-button label=editTitle rightIcon=spinnerIcon action="editPost" color="blue" isDisabled=editDisabled}}
    {{cw-button label=(t 'button.cancel') action="cancel"}}
  </div>
</div>
