<div class="content-subhead">
  <div class="row">
    <div class="pure-u-4-5">
      {{#link-to "posts.index" class="button button-blue" }}{{t 'button.back'}}{{/link-to}}
    </div>
    <div class="pure-u-1-5 horizontal-right">{{model.creator.name}}</div>
  </div>
</div>
{{#if model}}
  <div class="content-contents">
    <div class="posts">
      <div class="post">
        <header class="post-header">
          <h2 class="post-title">
            <div class="post-title-label">{{model.title}}</div>
            <img class="post-avatar" height="48" width="48" {{bind-attr src=model.creator.avatarPhoto}}>
          </h2>
          <p class="post-meta">
            {{model.createdAtFormat}}
            <span class="divider"></span>
            {{t 'blog.category'}}<span class="colon"></span>
            {{#if model.category}}
              {{view 'post/category' content=model.category}}
            {{/if}}
            {{#if model.tags.length}}
              <span class="divider"></span>
              {{t 'blog.tag'}}<span class="colon"></span>
              {{#each t in model.tags}}
                {{view 'post/tag' content=t}}
              {{/each}}
            {{/if}}
            {{#if model.isMe}}
              <span class="divider"></span>
              <a href="javascript:void(0);" class="post-edit" {{action 'edit'}}>{{t 'button.edit'}}</a>
              <span class="divider"></span>
              <a href="javascript:void(0);" class="post-delete" {{action 'delete'}}>{{t 'button.delete'}}</a>
            {{/if}}
          </p>
        </header>
        <div class="post-body">
          {{markdown-preview body=model.body}}
        </div>
        <div class="post-commnets">
          <div class="ds-thread" data-thread-key="{{model.id}}" data-title="{{model.title}}" data-url="{{model.articleUrl}}"></div>
        </div>
      </div>
    </div>
  </div>
{{else}}
  <div class="post-loading"></div>
{{/if}}
