<div class="content-subhead">
  <div class="pure-g">
    <div class="pure-u-4-5">
      {{#link-to "posts.index" class="pure-button pure-button-primary" }}{{t 'button.back'}}{{/link-to}}
    </div>
    <div class="pure-u-1-5 horizontal-right">{{model.creator.name}}</div>
  </div>
</div>
{{#if model}}
  <div class="content-contents">
    <div class="posts">
      <div class="post">
        <header class="post-header">
          <h2 class="post-title">
            <div class="post-title-label"><a>{{model.title}}</a></div>
            <img class="post-avatar" height="48" width="48" {{bind-attr src=model.creator.avatarPhoto}}>
          </h2>
          <p class="post-meta">
            {{model.createdAtFormat}}
            <span class="divider"></span>
            {{t 'blog.category'}}<span class="colon"></span>
            {{#if model.category}}
              {{view 'post/category' content=model.category}}
            {{/if}}
            {{#if model.tags.length}}
              <span class="divider"></span>
              {{t 'blog.tag'}}<span class="colon"></span>
              {{#each t in model.tags}}
                {{view 'post/tag' content=t}}
              {{/each}}
            {{/if}}
            {{#if model.isMe}}
              <span class="divider"></span>
              <a href="javascript:void(0);" class="post-edit" {{action 'edit'}}>{{t 'button.edit'}}</a>
              <span class="divider"></span>
              <a href="javascript:void(0);" class="post-delete" {{action 'delete'}}>{{t 'button.delete'}}</a>
            {{/if}}
          </p>
        </header>
        {{markdown-body body=model.body class="post-body"}}
        <div class="post-commnets">
          <div class="comment-header">{{model.comments.length}}{{t 'posts.comment.count'}}</div>
          {{#if model.comments.length}}
            {{view 'post/comment-list' content=model.comments}}
          {{/if}}
          {{view 'post/comment-create' post=model}}
        </div>
      </div>
    </div>
  </div>
{{else}}
  <div class="post-loading"></div>
{{/if}}
