<div class="content-subhead">
  <div class="pure-g">
    <div class="pure-u-4-5">
      {{#link-to "posts.index" class="pure-button pure-button-primary" }}{{t 'button.back'}}{{/link-to}}
    </div>
    <div class="pure-u-1-5 horizontal-right">{{creator.name}}</div>
  </div>
</div>
{{#if model}}
  <div class="content-contents">
    <div class="posts">
      <div class="post">
        <header class="post-header">
          <h2 class="post-title">
            <div class="post-title-label"><a>{{title}}</a></div>
            <img class="post-avatar" height="48" width="48" {{bind-attr src=creator.avatarPhoto}}>
          </h2>
          <p class="post-meta">
            {{createdAtFormat}}
            <span class="divider"></span>
            {{t 'blog.category'}}<span class="colon"></span>
            {{#if category}}
              {{view 'post/category' category=category}}
            {{/if}}
            {{#if tags.length}}
              <span class="divider"></span>
              {{t 'blog.tag'}}<span class="colon"></span>
              {{#each tags}}
                {{view 'post/tag' tag=this}}
              {{/each}}
            {{/if}}
            {{#if isMe}}
              <span class="divider"></span>
              <a href="javascript:void(0);" class="post-edit" {{action 'edit'}}>{{t 'button.edit'}}</a>
              <span class="divider"></span>
              <a href="javascript:void(0);" class="post-delete" {{action 'delete'}}>{{t 'button.delete'}}</a>
            {{/if}}
          </p>
        </header>
        {{view 'post/body' body=body}}
        <div class="post-commnets">
          <div class="comment-header">{{comments.length}}{{t 'post.comment.count'}}</div>
          {{#greater-than comments.length 0}}
            {{view 'post/comment-list' content=comments}}
          {{/greater-than}}
          {{view 'post/comment-create' post=model}}
        </div>
      </div>
    </div>
  <div>
{{else}}
  <div class="post-loading"></div>
{{/if}}